body{
    margin: 0;
    font-family: -apple-system, "Segoe UI", "Roboto Light",
    "Roboto Thin", "Fira Code", "Droid Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
}

code{
    font-family: "Source Code Pro", Consolas, "Courier New",monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
